.stats2 {
  padding: 5px;
  margin: 5px;
  width: 440px;
}

.stats2__deaths,
.stats2__other {
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(4, 1fr);
}

.stats2__deaths {
  grid-template-areas:
    'Title Title Title Title'
    'Today Yesterday Total Per1Million';
  padding-bottom: 15px;
}

.stats2__other {
  grid-template-areas:
    'CriticalIcon CriticalTotal RecoveredIcon RecoveredTotal'
    'CriticalIcon CriticalPer1M RecoveredIcon RecoveredPer1M';
  padding: 0 15px;
}

@media screen and (max-width: 600px) {
  .stats2__other {
    grid-template-areas:
      'CriticalIcon CriticalTotal RecoveredIcon RecoveredTotal'
      'CriticalIcon CriticalPer1M RecoveredIcon RecoveredPer1M';
    padding: 0 15px;
  }
}

.stats2__title {
  grid-area: Title;
  display: flex;
  text-align: left;
  padding-bottom: 5px;
}

.stats2__today {
  grid-area: Today;
  padding-left: 15px;
  border-left: none !important;
}
.stats2__yesterday {
  grid-area: Yesterday;
}
.stats2__total {
  grid-area: Total;
}

.stats2__per1M {
  grid-area: Per1Million;
  padding-right: 15px;
}

.stats2__criticalIcon {
  grid-area: CriticalIcon;
}

.stats2__criticalIcon,
.stats2__recoveredIcon {
  padding-right: 5px;
}

.stats2__criticalTotal {
  grid-area: CriticalTotal;
}

.stats2__criticalPer1M {
  grid-area: CriticalPer1M;
}

.stats2__recoveredIcon {
  grid-area: RecoveredIcon;
  padding-left: 50px;
}

.stats2__recoveredTotal {
  grid-area: RecoveredTotal;
}

.stats2__recoveredPer1M {
  grid-area: RecoveredPer1M;
}
