.stats2 {
  padding: 5px;
  margin: 5px;
  width: 440px;
}

.stats2__deaths,
.stats2__other {
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(4, 25%);
  align-items: center;
}

.stats2__deaths {
  grid-template-areas:
    'Title Title Title Title'
    'Today Yesterday Total Per1Million';
  padding-bottom: 15px;
}

.stats2__other {
  grid-template-areas:
    'CriticalIcon CriticalTotal RecoveredIcon RecoveredTotal'
    'CriticalIcon CriticalPer1M RecoveredIcon RecoveredPer1M';
}

.stats2__title {
  grid-area: Title;
  display: flex;
  text-align: left;
  padding-bottom: 5px;
}

.stats2__today {
  grid-area: Today;
}
.stats2__yesterday {
  grid-area: Yesterday;
}

.stats2__total {
  grid-area: Total;
}

.stats2__per1M {
  grid-area: Per1Million;
}

.stats2__criticalIcon {
  grid-area: CriticalIcon;
}

.stats2__criticalTotal {
  grid-area: CriticalTotal;
}

.stats2__criticalPer1M {
  grid-area: CriticalPer1M;
}

.stats2__recoveredIcon {
  grid-area: RecoveredIcon;
}

.stats2__recoveredTotal {
  grid-area: RecoveredTotal;
}

.stats2__recoveredPer1M {
  grid-area: RecoveredPer1M;
}

.stats2__recoveredIcon,
.stats2__criticalIcon {
  padding-bottom: 0;
}

@media screen and (max-width: 600px) {
  .stats2__deaths {
    /* Change grid to a 3x2 (from a ?x?) */
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'Title Today Yesterday'
      'Title Total Per1Million';
    grid-column-gap: 35px;
    /* increase 5px space from these stats and other stats */
    padding-bottom: 20px;
  }

  .stats2__other {
    /* Change grid to a 3x2 */
    /* ! Possible alternative column setup */ /* grid-template-columns: 30% 35% 35%; */
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas:
      'CriticalIcon CriticalTotal CriticalPer1M'
      'RecoveredIcon RecoveredTotal RecoveredPer1M';
    /* Space out the columns and rows */
    grid-column-gap: 15px;
    grid-row-gap: 10px;
  }

  .stats2 {
    /* Stretch the div 100% - hide overflow to stop the div expanding beyond */
    width: 100%;
    overflow: hidden;
  }
}
