.showMenu__icon{
  margin-left: 20px;
}

.showMenu__label {
  font-size: 10px;
  margin-top: 3px;
}

/*. This CSS is already defined in Sort.css
menu {
} */

/* .menu__header {
}

.menu__img {
}

.menu__close {
} */

.showMenu__displayOption {
  margin-bottom: 5px;
}

/* Highlight current display option and disable pointer */
.showMenu__displayOption.active {
  background-color: #d1d4d5;
  cursor: not-allowed;
}

.showMenu__displayOption.inactive:hover {
  cursor: pointer;
}

.showMenu__displayOption.inactive:hover {
  background-color: #f5f7f9;
}

.sortMenu__displayOption.inactive:active {
  background-color: #d1d4d5;
}
