:root {
  --body-font-size: 19px;
  --header-font-size: 16px;
  --button-color: #4d4e4e;
  --button-hover-color: #9c9c94;
}

/* Media Query- Tablet and mobile screens: */
@media screen and (max-width: 600px) {
  /* ! 18-Dec: deprecated for now - font size unnecessarily too large */
  /* body {
  // Increase body & header font size -from 19px to 7.5vw -(viewport width)

   --body-font-size: 7.5vw;
    --header-font-size: 7.5vw;
  } */
}
