body {
  font-family: 'Lato', sans-serif;
}

/* Stylesheet Reset settings */
p {
  margin: 0 0;
}

.App {
  text-align: center;
}

.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chart {
  width: 250px;
  height: 100px;
}
