body {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
}

/* Stylesheet Reset settings */
p,
h6 {
  margin: 0 0;
}

.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chart {
  width: 250px;
  height: 100px;
}

.cases {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Deaths container divs: use flexbox and center content. */
.deaths {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid 1px lightgrey;
}

.deaths__label {
  color: rgb(77, 77, 77);
}

*[class*='statsNumber'] {
  font-weight: 600;
}

*[class*='deltaNumber'] {
  font-size: 0.7em;
}

*[class*='deltaSymbol'] {
  font-size: 0.7em;
}

*[class*='__label'] {
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 1px;
}

/* Smaller font for yesterday stats & label */
*[class*='yesterday'] {
  font-size: 0.7em;
}
*[class$='--yesterday'] > *[class*='__label'] {
  font-size: 0.7em;
}

*[class$='seperatorDiv'] {
  width: 70%;
  border-bottom: 1px solid lightgrey;
}
