@import './_GlobalVariables.css';

/* Reset stylesheet defaults */
/* Button */
button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: var(--button-color);
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  transform: 150ms ease;
}

button:hover {
  color: var(--button-hover-color);
  transform: scale(1.1);
  cursor: pointer;
}

a,
button {
  touch-action: manipulation;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: var(--body-font-size);
  background-color: var(--background-color);
  color: var(--primary-font-color);
}

/* Apply filter blur when body has blur class */
.blur {
  filter: blur(3px);
}

/* Stylesheet Reset settings */
p,
h6,
h3 {
  margin: 0 0;
}

h4 {
  font-family: 'Lato', sans-serif;
}

/* Anchor tags - turn off default underline and color */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.App_scrollToTop:hover {
  background-color: var(--returnToTop-hover-background-color);
}

.App_scrollToTop:hover svg {
  fill: var( --returnToTop-hover-color);
}

.App_scrollToTop {
  background-color: var(--returnToTop-background-color);
  right: 10px;
  bottom: 30px; /* Above fixed footer */
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 9px 25px 0 var(--returnToTop-shadow-color);
  border: none;
  outline: none;
}

.cases {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Deaths container divs: use flexbox and center content. */
.deaths {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Only apply left border to '.deaths' elements which are direct children
of the CountryCard (global view) */
.CountryCard__statsContainer > .deaths {
  border-left: solid 1px lightgrey;
}

*[class*='statsNumber'] {
  font-weight: 600;
  display: flex;
  justify-content: center;
}

*[class*='deltaNumber'] {
  font-size: 0.7em;
}

*[class*='deltaSymbol'] {
  /* margin-top: 2px; 2px top to align with stats number */
  width: 1em;
  height: 1em;
}

/* For delta arrows - apply margin-top - more for the down arrow */
*[class$='--upArrow'] {
  margin-top: 0.1em;
}
*[class$='--downArrow'] {
  margin-top: 0.13em;
}

*[class$='--levelArrow'] {
  margin-left: 2px;
  margin-top: 0.1em;
  transform: rotate(45deg);
}

*[class$='label'] {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--primary-label-color);
  text-align: center;
}

/* Smaller font for yesterday stats & label (only direct children of
of the CountryCard) */
.CountryCard__statsContainer > *[class*='yesterday'] {
  font-size: 0.7em;
}
/* ! NOTE: the next 2 rules designed as more generic rules to replace usage of '--yesterday' after refactor */
*[class*='--smallerFont'] {
  font-size: 0.7em;
}
*[class$='--smallerFont'] > *[class*='__label'] {
  font-size: 0.7em;
}

/* Note: This rule states: select all elements with a class containing "__label" that are
 direct children(>) of elements with a class ending '--yesterday' */
*[class$='--yesterday'] > *[class*='__label'] {
  font-size: 0.7em;
}

*[class$='small-label'] {
  font-size: 14px;
}

/* Global box shadow */
.boxShadow {
  border-radius: 6px;
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-background-color);
}

/* Media Queries */
/* Font size change - no longer used */
/* @media screen and (max-width: 600px) {
  [class*='__label'] {
    font-size: 4.5vw;
  }
} */
