@import './_GlobalVariables.css';

body {
  font-family: 'Lato', sans-serif;
  font-size: var(--body-font-size);
  background-color: #f5f7f9;
}

/* Stylesheet Reset settings */
p,
h6 {
  margin: 0 0;
}

h4 {
  font-family: 'Lato', sans-serif;
}

.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chart {
  width: 250px;
  height: 100px;
}

.cases {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Deaths container divs: use flexbox and center content. */
.deaths {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid 1px lightgrey;
}

*[class*='statsNumber'] {
  font-weight: 600;
  display: flex;
  justify-content: center;
}

*[class*='deltaNumber'] {
  font-size: 0.7em;
}

*[class*='deltaSymbol'] {
  /* margin-top: 2px; 2px top to align with stats number */
  width: 1em;
  height: 1em;
}

/* For delta arrows - apply margin-top - more for the down arrow */
*[class$='--upArrow'] {
  margin-top: 0.1em;
}
*[class$='--downArrow'] {
  margin-top: 0.13em;
}

*[class$='--levelArrow'] {
  margin-left: 2px;
  margin-top: 0.1em;
  transform: rotate(45deg);
}

*[class$='label'] {
  text-transform: uppercase;
  font-size: 12px;
  color: #9c9c94;
  text-align: center;
}

/* Smaller font for yesterday stats & label */
*[class*='yesterday'] {
  font-size: 0.7em;
}

/* Note: This rule states: select all elements with a class containing "__label" that are
 direct children(>) of elements with a class ending '--yesterday' */
*[class$='--yesterday'] > *[class*='__label'] {
  font-size: 0.7em;
}

/* Global box shadow */
.boxShadow {
  border-radius: 6px;
  /* Material-UI Paper box-shadow: */
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  [class*='__label'] {
    font-size: 4.5vw;
  }
}
