@import '../../_GlobalVariables.css';

.deathsLabel {
  height: 20px;
  text-transform: uppercase;
  color: var(--secondary-label-color);
  font-size: 0.7em;
  grid-area: DeathsLabel;
  text-align: center;
}
