.stats {
  padding: 5px;
  margin: 5px;
  width: 440px;
}

.stats__cases,
.stats__other {
  display: grid;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: repeat(4, 25%);
  align-items: center;
}

.stats__cases {
  grid-template-areas:
    'Title Title Title Title'
    'Today Yesterday Total Per1Million';
  padding-bottom: 15px;
}

.stats__other {
  grid-template-areas:
    'ActiveIcon ActiveTotal TestsIcon TestsTotal'
    'ActiveIcon ActivePer1M TestsIcon TestsPer1M';
}

.stats__title {
  grid-area: Title;
  display: flex;
  text-align: left;
  padding-bottom: 5px;
}

.stats__today {
  grid-area: Today;
}
.stats__yesterday {
  grid-area: Yesterday;
}
.stats__total {
  grid-area: Total;
}

.stats__per1M {
  grid-area: Per1Million;
}

.stats__activeIcon {
  grid-area: ActiveIcon;
}

.stats__activeTotal {
  grid-area: ActiveTotal;
}

.stats__activePer1M {
  grid-area: ActivePer1M;
}

.stats__testsIcon {
  grid-area: TestsIcon;
}

.stats__testsTotal {
  grid-area: TestsTotal;
}

.stats__testsPer1M {
  grid-area: TestsPer1M;
}

.stats__testsIcon,
.stats__activeIcon {
  padding-bottom: 0;
}

@media screen and (max-width: 600px) {
  .stats__cases {
    /* Change grid to a 3x2 (from a ?x?) */
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'Title Today Yesterday'
      'Title Total Per1Million';
    grid-column-gap: 35px;
    /* increase 5px space from these stats and other stats */
    padding-bottom: 20px;
  }

  .stats__other {
    /* Change grid to a 3x2 */
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas:
      'ActiveIcon ActiveTotal ActivePer1M'
      'TestsIcon TestsTotal TestsPer1M';
    /* Space out the columns and rows */
    grid-column-gap: 15px;
    grid-row-gap: 10px;
  }

  .stats {
    /* Stretch the div 100% - hide overflow to stop the div expanding beyond */
    width: 100%;
    overflow: hidden;
  }
}
