@import '../../_GlobalVariables.css';

.deathsLabel {
  grid-area: DeathsLabel;
}

.casesLabel {
  grid-area: CasesLabel;
}

*[class$="Label"] {
  height: 20px;
  text-transform: uppercase;
  color: var(--secondary-label-color);
  font-size: 0.7em;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  /* Remove height - to account for larger font. */
  .casesLabel {
    height: auto;
  }
}

.vaccinationsLabel {
  padding-top: 5px;
}
