.container {
  margin: 5px;
  border-radius: 8px;
  background-color: white;
}

.highChart__chart {
  border-radius: 8px;
}

.highChart__title {
  display: flex;
  padding: 5px 5px;
  align-items: center;
}

.highChart__titleText {
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
}

.highChart__icon {
  width: 25px;
}

/* Custom change to chart: Hide the time nav input */
.highcharts-input-group {
  display: none;
}
