.casesLabel {
  height: 20px;
  text-transform: uppercase;
  color: grey;
  font-size: 0.7em;
  grid-area: CasesLabel;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  /* Remove height - to account for larger font. */
  .casesLabel {
    height: auto;
  }
}
