.gDeaths {
  display: grid;
  grid-template-rows: auto 12px auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'Title Title Title'
    'TodayLabel YesterdayLabel TotalLabel'
    'TodayValue YesterdayValue TotalValue';
  padding: 5px;
  margin: 5px;
  gap: 0px 30px;
  width: 440px;
}

/* Grid Area */
.gDeaths__title {
  grid-area: Title;
  text-align: left;
  padding-bottom: 5px;
}
.gDeaths__todayLabel {
  grid-area: TodayLabel;
}
.gDeaths__todayValue {
  grid-area: TodayValue;
}
.gDeaths__prevLabel {
  grid-area: YesterdayLabel;
}
.gDeaths__prevValue {
  grid-area: YesterdayValue;
}
.gDeaths__totalLabel {
  grid-area: TotalLabel;
}
.gDeaths__totalValue {
  grid-area: TotalValue;
}
