@import '../../_GlobalVariables.css';

.App__mainViewTitle {
  display: flex;
  font-size: 18px;
  padding-left: 28px;
  align-items: center;
}

.App__mainViewImg {
  padding-right: 10px;
  color: var(--virus-color);
}

.App__mainViewText {
  color: var(--primary-label-color);
  text-transform: uppercase;
  font-weight: bold;
}

.error__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-label-color);

  text-emphasis: bold;
  text-transform: uppercase;
  font-weight: 1000;
  height: 80vh;
}
