@import '../../_GlobalVariables.css';

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--background-color);
  margin-right: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: var(--primary-label-color);
  font-size: 10px;
  align-items: center;
  box-shadow: var(--card-box-shadow);
}

.footer__updated {
  margin-right: 10px;
}

/* Anchor tag colours (footer anchor tags only UFN) */
.footer a:link {
  color: var(--primary-label-color);
  background-color: transparent;
}

.footer a:visited {
  color: var(--anchor-visited-color);
  background-color: transparent;
  text-decoration: none;
}

.footer a:hover {
  color: var(--anchor-hover-color);
  background-color: transparent;
  text-decoration: underline;
}

.footer a {
  text-decoration: underline;
}

/* a:active - not set UFN */


/* TOGGLE ONLY */
.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 31px;
  height: 16px;
  display: inline-block;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 14px;
  height: 14px;
  background: #fff;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4CD964;
}

.toggle:checked:before {
  left: 32px;
}