.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #f5f7f9;
  padding: 5px;
  margin-right: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #9c9c94;
  font-size: 10px;
  align-items: flex-end;
}

.footer__updated {
  margin-right: 10px;
}

/* Anchor tag colours (footer anchor tags only UFN) */
.footer a:link {
  color: #9c9c94;
  background-color: transparent;
}

.footer a:visited {
  color: #9c9c94;
  background-color: transparent;
  text-decoration: none;
}

.footer a:hover {
  color: darkblue;
  background-color: transparent;
  text-decoration: underline;
}

/* a:active - not set UFN */
