.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #f5f7f9;
  padding: 5px;
  margin-right: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #9c9c94;
  font-size: 10px;
  align-items: flex-end;
}

.footer__updated {
  margin-right: 10px;
}
