@import '../../_GlobalVariables.css';

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--background-color);
  padding: 5px;
  margin-right: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: var(--primary-label-color);
  font-size: 10px;
  align-items: flex-end;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.footer__updated {
  margin-right: 10px;
}

/* Anchor tag colours (footer anchor tags only UFN) */
.footer a:link {
  color: var(--primary-label-color);
  background-color: transparent;
}

.footer a:visited {
  color: var(--anchor-visited-color);
  background-color: transparent;
  text-decoration: none;
}

.footer a:hover {
  color: var(--anchor-hover-color);
  background-color: transparent;
  text-decoration: underline;
}

.footer a {
  text-decoration: underline;
}

/* a:active - not set UFN */
