.iconContainer {
  display: flex;

  text-align: left;
  align-items: center;
  padding-bottom: 5px;
}

/* Handling for optional class added for align of div */
.iconContainer.rightAlign {
  justify-content: flex-end;
}

.iconContainer.centerAlign {
  justify-content: center;
}

.iconContainer.flexDirection-column {
  flex-direction: column;
}
