.CountryCard {
  height: 175px;
  width: 305px; /* ? Could be better as 420x228 (w * h) */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  /* margin-bottom: 16px; */
  border-radius: 6px;
  /* Material-UI Paper box-shadow: */
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  transition: all 0.2s ease 0s;
}

/* Media query for Mobile */
@media screen and (max-width: 600px) {
  /* Set Country card width to 100% */
  .CountryCard {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 600px) {
  .CountryCard:hover {
    transform: translateY(-8px);
    /* Increase blur on box shadow */
    box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2),
      0px 3px 9px 0px rgba(0, 0, 0, 0.14), 0px 1px 12px 0px rgba(0, 0, 0, 0.12);
  }
}

.CountryCard__statsContainer {
  display: grid;
  grid-template-columns: 51% auto;
  grid-template-rows: repeat(auto);
  /* grid-template-rows: auto auto auto; */
  grid-template-areas:
    'CasesLabel DeathsLabel'
    'DailyCases DailyDeaths'
    'YesterdayCases YesterdayDeaths'
    'TotalCases TotalDeaths';
  /* (Below 2 settings ->)Seperation from the Country header */
  padding-top: 3px;
}

.casesLabel {
  grid-area: CasesLabel;
}

.deathsLabel {
  grid-area: DeathsLabel;
}

.cases {
  grid-area: DailyCases;
}

.deaths {
  grid-area: DailyDeaths;
}

.cases.cases--yesterday {
  grid-area: YesterdayCases;
}

.deaths.deaths--yesterday {
  grid-area: YesterdayDeaths;
}

.cases.cases--total {
  grid-area: TotalCases;
}

.deaths.deaths--total {
  grid-area: TotalDeaths;
}
