.CountryCard {
  height: 150px;
  width: 230px;
  margin-right: 25px;
  border-top: 1px solid lightgrey;
}

.CountryCard__statsContainer {
  display: grid;
  grid-template-columns: 51% auto;
  grid-template-rows: repeat(auto);
  /* grid-template-rows: auto auto auto; */
  grid-template-areas:
    'CasesLabel DeathsLabel'
    'DailyCases DailyDeaths'
    'YesterdayCases YesterdayDeaths'
    'TotalCases TotalDeaths';
  border-top: 1px solid lightgrey;
  /* (Below 2 settings ->)Seperation from the Country header */
  padding-top: 6px;
  padding-left: 8px;
}

.casesLabel {
  grid-area: CasesLabel;
}

.deathsLabel {
  grid-area: DeathsLabel;
}

.cases {
  grid-area: DailyCases;
}

.deaths {
  grid-area: DailyDeaths;
}

.cases.cases--yesterday {
  grid-area: YesterdayCases;
}

.deaths.deaths--yesterday {
  grid-area: YesterdayDeaths;
}

.cases.cases--total {
  grid-area: TotalCases;
}

.deaths.deaths--total {
  grid-area: TotalDeaths;
}
