.CountryCard {
  height: auto;
  min-height: 150px;
  max-height: 150px;
}

.CountryCard__statsContainer {
  display: grid;
  grid-template-columns: 55% auto;
  grid-template-rows: 70% auto;
  grid-template-areas:
    'DailyCases DailyDeaths'
    'TotalCases TotalDeaths';
}

.dailyCases {
  grid-area: DailyCases;
}

.dailyDeaths {
  grid-area: DailyDeaths;
}

.totalCases {
  grid-area: TotalCases;
}

.totalDeaths {
  grid-area: TotalDeaths;
}
