/* CountryDrillView.css */
.countryCharts {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'CasesDailyChart CasesCumulativeChart'
    'DeathsDailyChart DeathsCumulativeChart'
    'RecoverDailyChart RecoverCumulativeChart'
    'CasesAndDeathsChart CasesAndDeathsChart';
}

.casesDailyChart {
  grid-area: CasesDailyChart;
}
.casesCumulativeChart {
  grid-area: CasesCumulativeChart;
}
.deathsDailyChart {
  grid-area: DeathsDailyChart;
}
.deathsCumulativeChart {
  grid-area: DeathsCumulativeChart;
}
.recoverDailyChart {
  grid-area: RecoverDailyChart;
}
.recoverCumulativeChart {
  grid-area: RecoverCumulativeChart;
}
.casesAndDeathsChart {
  grid-area: CasesAndDeathsChart;
}

/* Media query for Mobile */
@media screen and (max-width: 600px) {
  .countryCharts {
    /* So each chart uses full available width */
    display: block;
  }
}
