@import '../../_GlobalVariables.css';

.spinner {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner__text {
  display: flex;
  justify-content: center;
  font-size: 19px;
}

.spinner__icon {
  color: var(--virus-color);
  font-size: 100px;
}