@import '../../_GlobalVariables.css';

.header {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  font-size: var(--header-font-size);
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 2px;
}

.header__id {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  float: left;
}

.header__icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  float: right;
}

.header__img {
  margin-top: 2px;
  width: 24px;
  height: 24px;
}

.header__name {
  padding-left: 5px;
}

.header--smallFont {
  /* Use a smaller font for a long country name */
  font-size: 13px;
}

.header__favouriteIcon {
  padding-left: 5px;
  padding-right: 2px;
  color: #9c9c94;
  cursor: pointer;
  /* font-size - can be used to size icon. */
}

.header__favouriteIcon:hover {
  color: #747471;
  transform: scale(1.1);
}

/* ? These dimension setting aren't working? */
/* .header__expandIcon {
  height: 18px;
  width: 18px;
}

.header__favIcon {
  height: 18px;
  width: 18px;
} */
