.header {
  display: flex;
  font-weight: 300;
  text-transform: uppercase;
  align-items: center;
}

.header__img {
  margin-top: 2px;
  width: 26px;
  height: 26px;
}

.header__name {
  padding-left: 5px;
}

.header__name.longName {
  /* Use a smaller font for a long country name */
  font-size: 17px;
}
