.appHeader {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  font-size: 18px;
}

.appHeader__imgAndTitle {
  display: flex;
  align-items: center;
}

.appHeader__img {
  width: 35px;
  height: 35px;
}

.appHeader__title,
.appHeader__country {
  color: #9c9c94;
  text-emphasis: bold;
  text-transform: uppercase;
  font-weight: 1000;
  margin: 0 0;
  margin-left: 3px;
}

.appHeader__back {
  color: #4d4e4e;
  font-size: 40px;
  padding-right: 30px;
}

.appHeader__country {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.appHeader__countryImg {
  width: 35px;
  padding-right: 8px;
}

.appHeader__country > p::first-letter {
  font-size: 1.35rem;
}

.title--firstLetter {
  font-size: 1.45rem;
}

.appHeader__icons {
  display: flex;
}

.appHeader__icons > *[class$='Icon'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  color: #4d4e4e;
}

.appHeader__icons > *[class$='Icon']:hover {
  color: #9c9c94;
  transform: scale(1.1);
}

.iconLabel {
  font-size: 10px;
  margin-top: 3px;
}
