.globalCard {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  padding-top: 3px;
  align-items: center;
  justify-content: center;
}

.globalCard__globalEmoij {
  font-size: 2rem;
  padding: 0 20px;
}
